body{
font-family: Arial;
margin:0;
text-align:center;
}

header{
background:#1b5e20;
color:white;
padding:15px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
padding:60px;
background:#e8f5e9;
}

.btn{
background:#1b5e20;
color:white;
padding:10px 20px;
text-decoration:none;
}

.products{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
}

.product{
border:1px solid #ddd;
padding:20px;
}